<!-- <div class="event-details">
    <h2>Event Details</h2>
    <div class="event-item">
      <strong>Title:</strong> {{ data.titre }}
    </div>
    <div class="event-item">
      <strong>Start Date:</strong> {{ data.dateDebut|date }}
    </div>
    <div class="event-item">
      <strong>End Date:</strong> {{ data.ateFin|date }}
    </div>
    <div class="event-item">
      <strong>Location:</strong> {{ data.lieu }}
    </div>
   
  </div>
  
  <style>
    .event-details {
      font-family: Arial, sans-serif;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 10px;
      max-width: 400px;
      margin: 50px auto;
      background-color: #f9f9f9;
      text-align: center;
    }
    .event-item {
      margin-bottom: 10px;
    }
    .close-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }
    .close-button:hover {
      background-color: #0056b3;
    }
  </style> -->