<mat-dialog-content [formGroup]="form">
  
    <mat-form-field appearence="fill">
        <input matInput placeholder="Titre" formControlName="titre">
    </mat-form-field>     
            <mat-form-field>
                <mat-label>Favorite food</mat-label>
                <mat-select formControlName="type" [(ngModel)]="type" name="food">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
              <p> Selected food: {{type}} </p>
            <mat-form-field appearence="fill">
                <input matInput placeholder="Lien" formControlName="lien">
            </mat-form-field>

            
              <mat-form-field class="example-full-width">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearence="fill">
                <input matInput placeholder="SourcePDF" formControlName="sourcepdf">
            </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
